* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 2px;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  background-color: #f7f4f4;
}
header {
  position: fixed;
  height: 100px;
  width: 100vw;
  top: 0;
  z-index: 12;
  background-color: rgb(255, 255, 255);
  border: 0px opx 5px 0px solid #c9baba;
}
nav ul {
  display: flex;
  list-style: none;
  padding-top: 30px;
  gap: 35px;
}
nav ul li {
  text-align: center;
  cursor: pointer;
}

.logo {
  padding-right: 150px;
  padding-left: 150px;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
}
.side {
  display: flex;
}
.center {
  margin: auto;
}
.acc {
  margin-right: 200px;
  font-size: larger;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background: url("https://st.redbus.in/Images/HomeIndia/HeroImage.png");
  height: 35rem;
  background-repeat: round;
}
.main_heading {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 80px;
}
.search {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: white;
  height: 120px;
  width: 60%;
  border-radius: 40px;
  margin-top: 20px;
}
.from {
  display: flex;
  border-right: 2px solid grey;
  width: 28%;
}
.to {
  display: flex;
  border-right: 2px solid grey;
  width: 28%;
}
.date {
  display: flex;
  border-right: 2px solid grey;
  width: 28%;
}

.bus {
  margin-top: 48px;
  margin-left: 10px;
}
.arrow {
  margin-top: 48px;
  margin-left: -8px;
}
.cal {
  margin-top: 48px;
  margin-left: 8px;
}
.search input {
  border: 0px;
  box-sizing: border-box;
  padding: 15px;
  opacity: 0.8;
  height: 100%;
  border-radius: 30px;
  outline: none;
  font-size: large;
}

.search div button {
  height: 100%;
  width: 125%;
  outline: none;
  border-radius: 0px 30px 30px 0px;
  background-color: rgb(216, 78, 85);
  color: white;
  font-weight: bolder;
  border: 0px;
  cursor: pointer;
}
.card {
  max-width: 1200px;
  padding: 2rem;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 25px;
  border-radius: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: -150px;
  left: 220px;
}

.cards {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  overflow-y: visible;
  cursor: pointer;
}
.cart {
  display: flex;
  height: 160px;
  min-width: 20.3rem;
  border-radius: 1rem;
  margin-bottom: 20px;
}
.first {
  background-color: rgb(62, 118, 216);
}
.first img {
  border-radius: 50%;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 10px;
}
.top-btn {
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 20px;
  color: white;
  width: 50px;
  border: 2px solid lightblue;
}
.content {
  display: flex;
  flex-direction: column;
  color: white;
}
.bot-btn {
  background-color: transparent;
  border: 2px dotted white;
  height: 20px;
  width: fit-content;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
  padding: 1px 3px 1px 3px;
}
.second {
  background-color: maroon;
}
.third {
  background-color: green;
}
.fourth {
  background-color: rgb(167, 167, 7);
}
.fifth {
  background-color: rgb(47, 134, 163);
}
.sixth {
  background-color: rgb(246, 112, 134);
}
aside {
  display: flex;
  justify-content: center;
}
.ad {
  width: 933px;
  margin-top: -90px;
}

.mid {
  display: flex;
  margin: 150px 100px 80px 150px;
}

.rigth {
  width: 52rem;
  height: 48rem;
  background-image: url("https://s3.rdbuz.com/web/images/homeV2/AboutUs/aboutUsImg.svg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.rigth img {
  width: 900px;
  height: 517px;
  padding-top: 140px;
  margin-right: 40px;
}
.heading-mid {
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 3.75rem;
  color: rgb(29, 29, 29);
  width: 34.5rem;
  margin: 0px;
}
.mid-logo {
  margin-top: 45px;
  color: rgb(216, 78, 85);
  display: flex;
  font-size: 1.4rem;
}
.mid-logo img {
  height: 1.9rem;
  padding-right: 25px;
  padding-left: 30px;
}
.line {
  height: 1px;
  background-color: grey;
}
.ul {
  margin-top: 10px;
  width: 50%;
  height: 4px;
  background-color: rgb(216, 78, 85);
  border-radius: 4px;
}
.mid-rigth-logo {
  filter: grayscale(100%);
  color: gray;
}
.mid-sub-heading {
  margin: 50px 0px 50px 0px;
  font-size: larger;
  color: rgb(69, 68, 68);
}
.mid-img {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.2rem;
  font-weight: bold;
}
.mid-img span {
  margin-left: 34px;
}
.mid-img-last {
  margin-top: 9px;
}
.mid-img-last span {
  margin-left: 26px;
}
.mid-btn {
  margin-top: 100px;
  height: 50px;
  background-color: rgb(216, 78, 85);
  padding: 0 70px 0 70px;
  border-radius: 10px;
  color: white;
  font-size: large;
  font-weight: bolder;
  border: 0px;
  cursor: pointer;
}
.low-sec {
  background-image: url("https://s1.rdbuz.com/web/images/homeV2/appinstall/appInstallbg.svg");
  display: flex;
  border-radius: 48px;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
  background-size: cover;
  background-position: right center;
  margin: 10rem;
  min-width: 800px;
}
.low-sec h1 {
  color: white;
  font-size: 3rem;
}
.white-box {
  height: 300px;
  width: 35%;
  background-color: white;
  border-radius: 15px;
  color: black;
}
.quick {
  display: flex;
  padding: 40px 40px 10px 30px;
  font-size: larger;
  gap: 9px;
}
.quick2 {
  display: flex;
  padding: 10px 40px 10px 30px;
  font-size: larger;
  gap: 9px;
}
.rating {
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  color: rgb(69, 67, 67);
  padding-top: 30px;
}
.right-rate {
  border-left: 1px solid grey;
  padding-left: 40px;
  padding-right: 30px;
}
.rate {
  font-size: 1.2rem;
}
.content2 {
  display: flex;
}
.scanner {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 70px;
}
.down {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 60px;
  gap: 5px;
}
.prime {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.box1 {
  display: flex;
  width: 22rem;
  height: 8rem;
  padding: 1.5rem;
  background-image: linear-gradient(
    to right,
    rgb(38, 72, 153),
    rgb(125, 70, 134)
  );
  border-radius: 20px;
  gap: 1.5rem;
  font-size: 15px;
  color: white;
}
.box1 img {
  padding: 10px;
}
.prime-wrap {
  display: flex;
  justify-content: center;
  margin: 70px 150px 20px 150px;
  gap: 50px;
}
.partnered {
  margin: 13rem;
  line-height: 6rem;
}
.partnered h1 {
  font-size: 3rem;
}
.rtc img {
  width: 7rem;
  height: 7rem;
  margin: 0rem 2rem;
}
.rtc-img {
  display: flex;
  flex-wrap: nowrap;
}
.rtc-title {
  color: black;
  display: flex;
  margin: 0rem 4rem 0rem 3rem;
  gap: 6.7rem;
}
.private-bus {
  display: flex;
  gap: 5rem;
  font-size: 1.02rem;
  line-height: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.FAQ {
  margin: 13rem;
  line-height: 5rem;
}
.FAQ h1 {
  font-size: 3rem;
  font-weight: 100;
  color: black;
}
.FAQ ul {
  list-style: none;
  display: flex;
  gap: 2.8rem;
  line-height: 3rem;
}
.FAQ ul :nth-child(1) {
  color: rgb(216, 78, 85);
  border-bottom: 5px solid red;
}
.question {
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  border: 1px solid #ccc;
  margin-top: 3rem;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 15px;
}
.flag {
  margin-left: 13rem;
}
.flag h1 {
  font-size: 3rem;
  font-weight: 100;
  color: black;
}

.flags {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
footer {
  background-color: #eae6e6;
  margin-top: 13rem;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-right: 5rem;
  line-height: 2rem;
  color: black;
}
footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.logo-footer {
  width: 20%;
}
hr {
  margin: 5rem;
}
.lowest-footer {
  padding-left: 5rem;
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;
  padding-bottom: 3rem;
  margin-top: 0;
}
.lowest-footer img {
  margin-left: 1.5rem;
}
